/* .attribution { font-size: 11px; text-align: center; }


    .attribution a { color: hsl(228, 45%, 44%); } */

    body{
        background-color: antiquewhite;
    }

    .whole{
        display: flex;
        justify-content: center;
        margin-top: 10rem;
        height: 440px;
    }

    .whole img{
        width: 280px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 440px;
    }

    .text{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        width: 280px;
        background-color: white;
    }

    .link{
         padding-bottom: 300px;
         padding-left: 10px;
         height: 150px;
    }

    .link h5{
        color: rgb(129, 126, 126);
    }

    .link p{
        padding-bottom: 60px;
        color: rgb(129, 126, 126);
    }

    .link b{
        font-size: 35px;
        color: rgb(2, 48, 2);
        font-style: tahoma;
    }
    #kudi{
        font-size: 15px;
        font-weight: lighter;
        text-decoration: line-through;
        color: rgb(129, 126, 126);
        font-style: normal;
    }

    .link button{
        margin-top: 70px;
        margin-left: 60px;
        border-radius: 10px;
        padding: 8px;
        width: 150px;
        background-color: rgb(2, 48, 2);
        color: white;
        border: 2px;
    }

    

    
